{% extends "base.html" %}
{% load static %}

{% block content %}
<body class="">
    <div class="main-panel jumbotron" style="position: fixed; top: 50px; left: 200px; width: 1500px; height: 1200px;">
        <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                  <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">assignment</i>
                      </div>
                      <h4 class="card-title">CM</h4>
                    </div>
                     <div class="card-body">
                          <div class="toolbar">
                              <!--        Here you can write extra buttons/actions for the toolbar              -->
                          </div>

                          <div class="material-datatables">

                            {% if object_list %}
                            <table id="cm_table" class="table table-striped table-no-bordered table-hover"
                                   cellspacing="0" width="100%" style="width:100%">
                                  <thead>
                                      <tr>
                                          <th>CM</th>
                                          <th>IP Space</th>
                                          <th>Netmask</th>
                                          <th>Gateway IP</th>
                                          <th>Decription</th>
                                          <th class="disabled-sorting text-center">Actions</th>
                                      </tr>
                                  </thead>
                                  <tfoot>
                                      <tr>
                                          <th>CM</th>
                                          <th>IP Space</th>
                                          <th>Netmask</th>
                                          <th>Gateway IP</th>
                                          <th>Decription</th>
                                          <th class="text-center">Actions</th>
                                      </tr>
                                  </tfoot>
                                 {% for cm in object_list %}
                                      <tbody>
                                          <tr>
                                              <td>{{ cm.code  }}</td>
                                              <td>{{ cm.ip_space}}</td>
                                              <td>{{ cm.netmask }}</td>
                                              <td>{{ cm.gateway_ip }}</td>
                                              <td>{{ cm.description }}</td>
                                              <td class="text-center">
                                                  <a href="#" class="btn btn-link btn-warning btn-just-icon edit"><i class="material-icons">dvr</i></a>
                                                  <a href="#" class="btn btn-link btn-danger btn-just-icon remove"><i class="material-icons">close</i></a>
                                              </td>
                                          </tr>
                                      </tbody>
                                 {% endfor %}
                            {% else %}
                               <p>No CMs Available</p>
                            {% endif %}
                              </table>
                          </div><!--  end card  -->
          </div> <!-- end col-md-12 -->
        </div> <!-- end row -->
      </div> <!-- end container -->
    </div> <!-- end jumbotron -->
</body>

<!--   Core JS Files   -->
<script src="{% static "assets/js/core/jquery.min.js" %}" type="text/javascript" ></script>

<!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
<script type="text/javascript">
  $(document).ready(function() {
    $('#cm_table').DataTable({
      "pagingType": "full_numbers",
      "lengthMenu": [
        [10, 25, 50, -1],
        [10, 25, 50, "All"]
      ],
      responsive: true,
      language: {
        search: "_INPUT_",
        searchPlaceholder: "Search records",
      }
    });

    var table = $('#cm_table').DataTable();

    // Edit record
    table.on('click', '.edit', function() {
      $tr = $(this).closest('tr');

      var data = table.row($tr).data();
      alert('You pressed on edit for: '+ '\n' + '\n' +
          data[0] + '\n' + data[1] + '\n' + data[2] +
          '\n' + data[3] + '\n' + data[4]);
    });

    // Delete a record
    table.on('click', '.remove', function(e) {
      $tr = $(this).closest('tr');
      table.row($tr).remove().draw();
      e.preventDefault();
    });

    $('.card .material-datatables label').addClass('form-group');
  });
</script>

{% endblock %}
